<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places Visited</title>
  </head>
  <body>
    <h1>Check out the list of Places visited</h1>
        @foreach(var place in Model)
        {
            <h2>Hello</h2>
            <p>Name : @place.GetContact().GetName()</p>
            <h3>Your Contact information is</h3>
        	<p>Email : @place.GetContact().GetEmail()</p>
            <p>Phone : @place.GetContact().GetPhone()</p>
            <h3>List of Places visited</h3>
                <ul>
                <li>Location : <a href='/placelist/@place.GetId()'>@place.GetLocation()</a></li>
                <p>Duration of Stay: @place.GetDuration() Days</p>
                @if(@place.GetLocation() == "seattle")
                {
                    <img src ="https://goairportshuttle.com/images/site/slider-seattle-1.jpg" alt="seattle"/>
                }
                @if(@place.GetLocation() == "india")
                {
                    <img src ="https://www.cia.gov/library/publications/the-world-factbook/photo_gallery/in/images/large/IN_003_large.jpg" alt= "india"/>
                }
                </ul>
        }
    </ul>
  </body>
</html>
