<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places Visited</title>
  </head>
  <body>
    <h1>Check out the list of Places visited</h1>
        @foreach(var place in Model)
        {
            <h2>Hello</h2>
            <p><a href='/placelist/@place.GetId()'>@place.GetContact().GetName()</a></p>
            <h3>Your Contact information is</h3>
        	<p>@place.GetContact().GetEmail()</p>
            <p>@place.GetContact().GetPhone()</p>
            <h3>list of Places visited</h3>
                <ul>
                <li><a href='/placelist/@place.GetId()'>@place.GetLocation()</a></li>
                <li>@place.GetDuration()</li>
                </ul>
        }
    </ul>
  </body>
</html>
